@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
  --font-indie: "Indie Flower", cursive;
  --icon-size: 26px;
  --menu-icon-top-width: 31px;
  --menu-icon-bottom-width: 23px;
  --dropdown-caret: 6px;
}